body {
    font-family: 'Roboto', sans-serif;
    background-color: #ededf8;
    color: #05324a;
}
*{
    margin: 0;
    padding: 0;
}
table{
    border-collapse: collapse;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: #05324a;
}
h3 {
    font-size: 30px;
    font-weight: 800;
}
h4{
    margin:0;
    font-weight: 400;
}
.table {
    border: 1px solid;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
}
td {
    border: 1px solid;
    vertical-align: middle;
    padding: 10px 12px;
    font-weight: 500;
    font-size: 17px;
}
caption {
    border: 1px solid;
    border-bottom: 0;
    vertical-align: middle;
    padding: 10px 12px;
    font-weight: 700;
    font-size: 17px;
    text-align: left;
    background-color: #ceceef;
}
button{
    cursor: pointer;
    border: none;
}
p{
    font-weight: 400;
    font-size: 20px;
}

.navbar {
    width: 100%;
    background: rgba(218, 213, 210, 0.7);
}
.navbar-content {
    display: flex;
    justify-content: space-between;
}
.name {
    cursor: pointer;
    text-shadow: 0px 0px 50px #06223a;
    display: flex;
    padding: 15px 0 0 12px;
}
.name span{
    color: #6ec7d9;
}
.menu_item {
    padding: 25px 15px;
    border-right: 1px solid #fff;
    display: inline-flex;
    transition: .6s;
}
.menu_item p{
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0px 0px 50px #06223a;
}
#logout {
    font-size: 15px;
    font-weight: 550;
    text-shadow: 0px 0px 50px #06223a;
    /*color: #05324a;*/
}
.menu_item_first {
    border-left: 1px solid #fff;
}
.menu_item:hover {
    background: rgba(171, 166, 163, 0.7);
    transition: .6s;
}
.icon {
    margin-right: 6px;
}
.langs {
    padding: 24px 20px 0 0;
}
.langs_item{
    font-weight: 500;
    text-shadow: 0px 0px 50px #06223a;
    transition: .6s;
}
.langs_item img {
    height: 13px;
}

.th {
    background-color: #e2e2f7;
    text-align: center;
}
.content_center{
    text-align: center;
}
.main_table{
    width: 100%;
}
.first_table {
    margin-bottom: 5px;
}
.first-box {
    height: 150px;
    width: 150px;
    text-align: center;
}
.logo {
    margin-top: 5px;
    height: 115px;
}
.avatar-box{
background: url(../images/user.png)no-repeat center bottom / cover;
}
.avatar-box:hover {
    background: linear-gradient(to top, rgba(69, 72, 80, 0.2), rgb(38, 42, 45)),url(../images/user.png)no-repeat center bottom / cover;
}
.linkUplphoto {
    font-size: 30px;
    opacity: 0;
}
.avatar-box:hover .linkUplphoto {
    opacity: 1;
}
.upload_photo {
    display:none;
}
.require_mark {
    color: #ff0000;
    font-size: 23px;
    margin: 3px;
}
.input {
    padding: 7px;
    border-radius: 6px;
    border: 2px solid #09364d;
}
.input:focus {
    background: #e1edf1;
    border: 2px solid #ceceef;
}
.require:valid {
    background: #dfd;
    border: 2px solid #44ad44;
}
.require:invalid {
    background: #fdd;
    border: 2px solid #e04747;
}
.add_btns {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.btn_more {
    border: 1px solid #aab7c6;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    padding: 4px 10px;
    opacity: 0.5;
    margin-top: 3px;
}
.add_new_language {
    background-color: #45c345;
}

.remove_new_language {
    background-color: #e24141;
}
.add_new_seaman_book {
    background-color: #45c345;
}

.remove_new_seaman_book {
    background-color: #e24141;
}
.add_new_certificate {
    background-color: #45c345;
}

.remove_new_certificate {
    background-color: #e24141;
}
.add_new_service_details {
    background-color: #45c345;
}
.remove_new_service_details {
    background-color: #e24141;
}
.add_new_reference_details {
    background-color: #45c345;
}
.remove_new_reference_details {
    background-color: #e24141;
}
.add_new_course {
    background-color: #45c345;
}
.remove_new_course {
    background-color: #e24141;
}
.btn_more:hover {
    opacity: 1;
}
.wide .input {
    width: 69px;
}



