body {
    font-family: 'Roboto', sans-serif;
    background-color: #ededf8;
    color: #05324a;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a{
	text-decoration: none;
  cursor: pointer;
}
h1{
	font-size: 75px;
	font-weight: 900;
    text-shadow: 0px 0px 50px #291906;
}
h2 {
    font-size: 30px;
    font-weight: 500;
}
h3 {
    font-size: 30px;
    font-weight: 800;
}
button{
    cursor: pointer;
    border: none;
    outline: none;
}
p {
    font-weight: 400;
    font-size: 16px;
}
td {
    border-bottom: 1px solid;
    font-size: 17px;
    display: block;
    text-align: left;
    margin: 8px;
}
th{
  display: flex;
  justify-content: space-between;
}
.navbar {
    width: 100%;
    background: rgba(218, 213, 210, 0.7);
    margin-bottom: 50px;
}
.navbar-content {
    display: flex;
    justify-content: space-between;
}
.name {
    cursor: pointer;
    text-shadow: 0px 0px 50px #06223a;
    display: flex;
    padding: 15px 0 0 12px;
}
.name a{
    color: #fff;
}
.name h3{
    color: #ffffff !important;
}
.name span{
    color: #6ec7d9;
}
.menu_item {
    padding: 25px 15px;
    border-right: 1px solid #fff;
    display: inline-flex;
    transition: .6s;
}
.menu_item p{
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0px 0px 50px #06223a;
}
.menu_item_first {
    border-left: 1px solid #fff;
}
.menu_item:hover {
    background: rgba(171, 166, 163, 0.7);
    transition: .6s;
}
.icon {
    margin-right: 6px;
}
.modal {
    display: none;
    position: fixed;
    text-align: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 10% auto 15% auto;
    border: 1px solid #888;
    width: 500px;
}
.container_modal {
    padding: 35px 16px 10px 16px;
    position: relative;
}
.modal_button {
    background-color: #042836;
    color: white;
    padding: 10px 15px;
    width: 100%;
    margin-bottom: 6px;
}
.modal_button:hover {
    opacity: 0.8;
}
.cancel_btn{
  width: 70%;
}
.container_modal p{
    color: #042836;
    font-size: 15px;
    margin-bottom: 10px;
}
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #042836;
    font-size: 25px;
    cursor: pointer;
}
.close:hover{
    color: red;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
.modal_form{
    margin: auto;
    width: 70%;
}
.modal_input{
  padding: 6px 7px;
  width: 100%;
  margin-bottom: 10px;
}
.container_modal_rights {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    color: #042836;
    background-color:#f1f1f1;
    font-size: 10px;
}
.container_modal_rights a{
    color: #042836;
}

.bg-color {
  background-color: #46a1de;
  transition-duration: .5s;
}

.text-color {
  color: #46a1de;
  transition-duration: .5s;
}

.wrapper {
  min-width: 600px;
  max-width: 900px;
  margin: 0 auto;
}

.tabs {
  display: table;
  table-layout: fixed;
  width: 100%;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
.tabs > li {
  transition-duration: .25s;
  display: table-cell;
  list-style: none;
  text-align: center;
  padding: 20px 20px 25px 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.tabs > li:before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 120%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition-duration: .25s;
  border-radius: 5px 5px 0 0;
}
.tabs > li:hover:before {
  -webkit-transform: translateY(70%);
  transform: translateY(70%);
}
.tabs > li.active {
  color: #50555a;
}
.tabs > li.active:before {
  transition-duration: .5s;
  background-color: white;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.tab__content {
  background-color: white;
  position: relative;
  width: 100%;
  border-radius: 5px;
}
.tab__content > li {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  list-style: none;
}
.tab__content > li .content__wrapper {
  text-align: center;
  border-radius: 5px;
  width: 100%;
  padding: 45px 40px 40px 40px;
  background-color: white;
}

.content__wrapper h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 300;
}

.content__wrapper video{
  max-width: 600px;
}
.table {
    border: 1px solid;
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
}
.manage_btn {
    display: flex;
    background: #ededf8;
    color: #00304c;
    border: 1px solid #05324a;
    transition: .6s;
    font-size: 20px;
    padding: 9px 10px;
}
.manage_btn:hover{
    opacity: 0.5;
}
.manage_btn p {
    font-size: 15px;
    font-weight: 700;
    margin-top: 3px;
}
.td_list_name{
  cursor: pointer;
}
.list_name {
    opacity: 0.5;
    cursor: pointer;
    padding: 10px;
}
.td_list_name:hover .list_name{
    opacity: 1;
}
.td_list_name:focus .list_name{
    opacity: 1;
}
.table input{
  margin: 0 5px;
}
.question{
  font-size: 14px;
}
.candidate_table{
  width: 80%;
}
.candidate_td {
  border-right: 1px solid;
    display: table-cell;
}
.candidate_th{
  border-bottom: 1px solid;
}
.candidate_th p {
    font-weight: 700;
    margin: 5px;
    font-size: 17px;
}
.td_video{
  text-align: center;
}
select{
  width: 100%;
    height: 25px;
    margin-bottom: 10px;
}