body {
    font-family: 'Roboto', sans-serif;
    background-color: #ededf8;
    color: #05324a;
}
*{
    margin: 0;
    padding: 0;
}
table{
	border-collapse: collapse;
}
a{
	text-decoration: none;
	cursor: pointer;
	color: #05324a;
}
h3 {
    font-size: 30px;
    font-weight: 800;
}
h4{
	margin:0;
	font-weight: 400;
}
.table {
    border: 1px solid;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
}
td {
    border: 1px solid;
    vertical-align: middle;
    padding: 10px 12px;
    font-weight: 500;
    font-size: 17px;
}
caption {
    border: 1px solid;
    border-bottom: 0;
    vertical-align: middle;
    padding: 10px 12px;
    font-weight: 700;
    font-size: 17px;
    text-align: left;
    background-color: #ceceef;
}
button{
    cursor: pointer;
    border: none;
}
p{
    font-weight: 400;
    font-size: 20px;
}

.navbar {
    width: 100%;
    background: rgba(218, 213, 210, 0.7);
    margin-bottom: 50px;
}
.navbar-content {
    display: flex;
    justify-content: space-between;
}
.name {
    cursor: pointer;
    text-shadow: 0px 0px 50px #06223a;
    display: flex;
    padding: 15px 0 0 12px;
}
.name a{
    color: #fff;
}
.name h3{
    color: #ffffff !important;
}
.name span{
    color: #6ec7d9;
}
.menu_item {
    padding: 25px 15px;
    border-right: 1px solid #fff;
    display: inline-flex;
    transition: .6s;
}
.menu_item p{
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0px 0px 50px #06223a;
}
.menu_item_first {
    border-left: 1px solid #fff;
}
.menu_item:hover {
    background: rgba(171, 166, 163, 0.7);
    transition: .6s;
}
.icon {
    margin-right: 6px;
}
.modal {
    display: none;
    position: fixed;
    text-align: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 10% auto 15% auto;
    border: 1px solid #888;
    width: 500px;
}
.container_modal {
    padding: 35px 16px 10px 16px;
    position: relative;
}
.modal_button {
    background-color: #042836;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
}
.modal_button:hover {
    opacity: 0.8;
}
.container_modal p{
    color: #042836;
    font-size: 15px;
    margin-bottom: 10px;
}
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #042836;
    font-size: 25px;
    cursor: pointer;
}
.close:hover{
    color: red;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
.create_new_pass{
    margin: auto;
}
.pwd {
    padding: 6px 7px;
}
.container_modal_rights {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    color: #042836;
    background-color:#f1f1f1;
    font-size: 10px;
}
.container_modal_rights a{
    color: #042836;
}
.manage_buttons{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.manage_left{
    display: inline-flex;
}
.manage_btn {
    display: flex;
    background: #ededf8;
    color: #00304c;
    border: 1px solid #05324a;
    transition: .6s;
    font-size: 30px;
    padding: 9px 10px;
}
.manage_btn:hover{
    opacity: 0.5;
}
.manage_btn p {
    font-size: 16px;
    font-weight: 700;
    margin-top: 6px;
    margin-left: 5px;
}
.edit_btn{
    margin-left: 15px;
}
#scroll {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #05324a;
    text-indent: -9999px; 
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    opacity: 0.5;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}
.th {
    background-color: #e2e2f7;
    text-align: center;
}
.content_center{
    text-align: center;
}
.main_table{
	width: 100%;
}
.first_table {
    margin-bottom: 5px;
}
.first-box {
    height: 150px;
    width: 150px;
    text-align: center;
}
.logo {
    margin-top: 5px;
    height: 115px;
}
.avatar-box{
background: url(../img/user.png)no-repeat center bottom / cover;
}
.avatar-box:hover {
    background: linear-gradient(to top, rgba(69, 72, 80, 0.2), rgb(38, 42, 45)),url(../img/user.png)no-repeat center bottom / cover;
}
.linkUplphoto {
    font-size: 30px;
    opacity: 0;
}
.avatar-box:hover .linkUplphoto {
    opacity: 1;
}
.upload_photo {
    display:none;
}
.require_mark {
    color: #ff0000;
    font-size: 23px;
    margin: 3px;
}
.input {
    padding: 7px;
    border-radius: 6px;
    border: 2px solid #09364d;
}
.input:focus {
    background: #e1edf1;
    border: 2px solid #ceceef;
}
.require:valid {
    background: #dfd;
    border: 2px solid #44ad44;
}
.require:invalid {
    background: #fdd;
    border: 2px solid #e04747;
}
.add_btns {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.btn_more {
    border: 1px solid #aab7c6;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    padding: 4px 10px;
    opacity: 0.5;
    margin-top: 3px;
}
.add_new {
    background-color: #45c345;
}
.remove_new {
    background-color: #e24141;
}
.btn_more:hover {
    opacity: 1;
}
.wide .input {
    width: 69px;
}
.down_btn_save{
    margin-bottom: 30px;
}
.down_btn_save button{
    margin: 0 auto;
}
