/* 1060 - 600 px */
@media only screen 
and (max-width: 1060px)
and (max-device-width : 1060px)
{
h1 {
    font-size: 55px;
}
h2 {
    font-size: 26px;
}
p {
    font-size: 15px;
}
.header-container {
	height: auto;
}
.navbar {
    background-color: transparent;
}
.navbar-content {
    padding: 15px;
    background-color: rgba(218, 213, 210, 0.7);
}
.name {
    padding: 0;
}
.nav a{
    position: absolute;
    right: -235px;
    transition: 0.3s;
    padding: 15px;
    width: 200px;
    font-size: 15px;
    color: #042836;
    border-radius: 5px 0 0 5px;
    border: 1px solid #bac5cd;
    background-color: rgba(214, 208, 208, 0.8);
}
#nav-descript {
    top: 70px;
}

#nav-offer {
    top: 130px;
}

#nav-seafarer {
    top: 190px;
        right: -235px;
}

#nav-companies{
    top: 250px;
}

#nav-contacts{
    top: 310px;
}
.humburger {
    margin-top: 2px;
    display: block;
    margin-right: 15px;
}
.burg1, .burg2, .burg3 {
    width: 23px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}
.change .burg1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-3px, 6px);
}
.change .burg2 {
    opacity: 0;
}
.change .burg3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-4px, -7px);
}
.langs {
    padding: 1px 0 0 0;
    margin-top: 2px;
}
.langs_item {
    font-size: 20px;
}
.langs_item img {
    height: 15px;
}
.header-description {
    display: block;
    text-align: center;
}
.header-description h1 {
    margin-top: 15px;
    text-align: center;
}
.logo img {
    height: 100px;
}
.watchVideo{
    font-size: 15px;
}
.modal-content {
    width: 80%;
}
.offer-container h2 {
    margin-bottom: 60px;
}
.offer-box {
    grid-row-gap: 30px;
    grid-template-columns: auto auto;
}
.application {
    width: 422px;
}
.application-field {
    padding: 6px 0 6px 20px;
}
.application-item {
    margin-top: 17px;
    font-size: 14px;
    width: 400px;
}
.applicationButton {
    padding: 10px 0;
    width: 422px;
}
.arrow {
    padding: 3px;
}
.footer-container {
    padding: 50px 0 30px;
}
.contacts {
    display: grid;
    grid-template-columns: auto auto;
}
.info {
    flex-direction: column;
}
.info img {
    margin-bottom: 20px;
}
.info a {
    margin-bottom: 20px;
}
.info div{
    margin-bottom: 20px;
}
}

/* 600 - ..px */
@media screen and (max-width: 600px) {
h1 {
    font-size: 32px;
}
h2 {
    font-size: 15px;
}
h3 {
    font-size: 13px;
}
p {
    font-size: 10px;
}
.navbar-content {
    padding: 10px;
}
.name h3 {
    font-size: 20px;
    margin-top: 2px;
}
#nav-offer {
    top: 110px;
}

#nav-seafarer {
    top: 150px;
}

#nav-companies{
    top: 190px;
}

#nav-contacts{
    top: 230px;
}
.nav a{
    font-size: 10px;
    padding: 10px;
}
.menu_item p {
    font-size: 10px;
}
.header-description {
    padding: 80px 0 30px;
}
.description-content {
    padding: 20px 5%;
}
.description-text {
    margin-top: 10px;
}
.description-text h2 {
    margin-bottom: 10px;
}
.description-text p {
    margin-bottom: 10px;
}
.watchVideo{
    font-size: 12px;
}
.watchVideo i{
    font-size: 9px;
}
.line_bottom {
    margin-top: 15px;
}
.offer-container {
    padding: 30px 24%;
}
.offer-container h2 {
    margin-bottom: 30px;
}
.offer-box {
    grid-template-columns: auto;
}
.offer img {
    margin-bottom: 15px;
    height: 100px;
}
.modal-content {
    width: 90%;
}
.container_modal p {
    font-size: 11px;
}
.modal_button {
    padding: 5px 10px;
}
.accordion {
    padding: 10px;
    font-size: 12px;
}
.application {
    width: 272px;
}
.application-item {
    margin-top: 14px;
    font-size: 11px;
     width: 250px; 
}
.applicationButton {
    width: 272px;
}
.arrow {
    padding: 2px;
}
.up {
    margin: 0 0 -2px 10px;
}
.down {
    margin: 0 0 1px 10px;
}
.info {
    font-size: 12px;
}
.socials a {
    margin: 0 5px;
    padding: 7px;
    font-size: 17px;
    width: 17px;
}
}

