/*Specification*/
body{
    font-family: 'Roboto', sans-serif;
    color:#fff;
}
*{
    margin: 0;
    padding: 0;
}
a{
	text-decoration: none;
}
h1{
	font-size: 75px;
	font-weight: 900;
    text-shadow: 0px 0px 50px #291906;
}
h2 {
    font-size: 30px;
    font-weight: 500;
}
h3 {
    font-size: 23px;
    font-weight: 800;
}
button{
    cursor: pointer;
    border: none;
    outline: none;
}
p {
    font-weight: 400;
    font-size: 16px;
}
/*header*/

.header-container {
    background: url(../images/back1.jpg)no-repeat center bottom / cover;
    height: 100vh;
}
.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background: rgba(218, 213, 210, 0.7);
}
.navbar-content {
    display: flex;
}
.name {
    cursor: pointer;
    text-shadow: 0px 0px 50px #06223a;
    display: flex;
    padding: 20px 0 0 12px;
}
.name span{
	color: #6ec7d9;
}
.nav{
    margin: auto;
}
.menu_item {
    padding: 25px 15px;
    border-right: 1px solid #fff;
    display: inline-flex;
    transition: .6s;
}
.menu_item p{
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0px 0px 50px #06223a;
}
.menu_item_first {
    border-left: 1px solid #fff;
}
.menu_item:hover {
    background: rgba(171, 166, 163, 0.7);
    transition: .6s;
}
.icon {
    margin-right: 6px;
}
.langs {
    padding: 24px 20px 0 0;
}
.langs_item{
    font-weight: 500;
    text-shadow: 0px 0px 50px #06223a;
    transition: .6s;
}
.langs_item img {
    height: 13px;
}
.header-description {
    display: flex;
    justify-content: space-between;
    padding: 15% 5%;
    align-items: center;
}
.logo img {
    height: 200px;
}
.header-description h1 {
    margin-top: -20px;
    text-align: center;
}
.header-description h3 {
    font-weight: 500;
    text-shadow: 0px 0px 50px #06223a;
}
/*description-container*/

.description-container{
    background-color: #fff;
}
.description-content {
    text-align: center;
    margin: auto;
    padding: 70px 5%;
}
.description-question img {
    width: 5%;
}
.line div {
    width: 45%;
    height: 1px;
    background-color: #6ec7d9;
    margin-top: 2.4%;
}
.description-question .line1{
    float: left;
}
.description-question .line2{
    float: right;
}
.description-text {
    color: #00304c;
    margin-top: 20px;
}
.description-text h2 {
    margin-bottom: 20px;
}
.description-text p {
    margin-bottom: 25px;
}
.watchVideo {
    font-size: 17px;
    color: #07314c;
    border-bottom: 1px solid #07314c;
}
video {
    width: 90%;
    margin: 0 auto;
}
.line_bottom {
    background-color: #6ec7d9;
    margin-top: 40px;
    height: 1px;
}

/*offer-container*/

.offer-container {
    background: url(../images/back2.png)no-repeat center bottom / cover;
    color: #00304c;
    text-align: center;
    padding: 90px;
}
.offer-container h2 {
    margin-bottom: 70px;
}
.offer-box {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: auto auto auto auto;
}
.offer {
    padding: 20px;
    border: 2px solid #3098b9;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.offer:hover{
    background-color: #c3d9ef;
    box-shadow: 0 0 40px rgba(22, 6, 107, 0.5);
}
/*.offer span {
    color: #fff;
    background: red;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    margin-left: -40px;
    margin-top: -20px;
}*/
.offer img {
    margin-bottom: 30px;
    height: 170px;
}
.offer p{
    font-weight: 500;
}

/*modal*/

.container_modal {
    padding: 35px 16px 10px 16px;
    position: relative;
}
.container_modal p{
    color: #042836;
}
.container_modal_rights {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    color: #042836;
    background-color:#f1f1f1;
    font-size: 10px;
}
.container_modal_rights a{
    color: #042836; 
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 10% auto 15% auto;
    border: 1px solid #888;
    width: 50%;
}
.modal_button {
    background-color: #042836;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
}
.modal_button:hover {
    opacity: 0.8;
}
.container_modal p{
    color: #042836;
    font-size: 15px;
    margin-bottom: 10px;
}
.accordion {
    background-color: #eee;
    padding: 13px;
    width: 100%;
    text-align: left;
    transition: 0.4s;
    margin: 1px;
    font-size: 14px;
}
.active, .accordion:hover {
    background-color: #ccc;
}
.accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2212";
}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.panel p{
    text-align: left;
    padding-top: 15px;
}
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #042836;
    font-size: 25px;
    cursor: pointer;
}
.close:hover{
    color: red;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

#feedback-form {
    display: inline-grid;
}
.mariners_input {
    color: #00304c;
    border: 1px solid #05324a;
    transition: .6s;
    padding: 5px;
    margin-bottom: 7px;
}
/*feedback-container*/
.feedback-container {
    background-color: #ededf8;
    padding: 20px 0 0;
}
.application {
    width: 484px;
    margin: 0 auto;
    display: none;
    z-index: 1;
}
.application-item {
    margin-top: 25px;
    background: #ededf8;
    color: #00304c;
    border: 1px solid #05324a;
    transition: .6s;
    font-size: 16px;
}
.application-field {
    width: 450px;
    padding: 10px 0 10px 30px;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
/*.application-required:invalid {
    box-shadow: 0 0 40px rgba(132, 8, 8, 0.5);
    border: 1px solid #4a0505;
   }*/
.application-field:focus{
    background-color: #c3d9ef;
    box-shadow: 0 0 40px rgba(22, 6, 107, 0.5);
}

/*placeholder*/
::-webkit-input-placeholder {color: #889aa5;}
::-moz-placeholder  {color: #889aa5;}   /* Firefox 19+ */
:-moz-placeholder {color: #889aa5;}  /* Firefox 18- */
:-ms-input-placeholder {color: #889aa5;}
::placeholder {color: #889aa5;}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.applicationButton {
    padding: 15px 0;
    width: 482px;
}
.applicationButton:hover {
    background: #05324a;
    color: #ededf8;
    transition: .6s;
}
.open-form {
    text-align: center;
}
.arrow{
    border: solid #00304c;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin: 0 0 -3px 10px;
}

.down {
    margin: 0 0 2px 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
hr{
    margin-top: 45px;
}
.b-show {
  display: block;
  animation: showBlock 1s linear forwards;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*snackbar*/
/*#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}*/

/* footer-container*/

.footer-container {
    background-color: #ededf8;
    text-align: center;
    padding: 90px 90px 30px;
}
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #093558;
    padding: 5px;
}
.info img{
    height: 20px;
}
.info a{
    color: #093558;
}
.socials {
    margin-top: 25px;
}
.socials a {
    margin: 0 10px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #0d385b;
    font-size: 20px;
    width: 20px;
    color: #0d385b;
    transition: .6s;
}
.socials a:hover{
    transition: .6s;
}
.socials .fa-instagram:hover {
    color: #fff;
    background: linear-gradient(45deg,#fed373 4%,#f15245 30%,#d92e7f 62%,#9b36b7 100%,#515ecf);    
}
.socials .fa-facebook:hover {
  background: #3B5998;
  color: white;
}
.socials .fa-linkedin:hover {
  background: #007bb5;
  color: white;
}






