*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #c1bdba;
  font-family: 'Roboto', sans-serif;
}
button{
  cursor: pointer;
  border: 0;
  outline: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #7c8c89;
}
a:hover {
  color: #00304c;
}

.form {
  background: #ededf8;
  padding: 30px;
  max-width: 450px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 25px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 15px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #00304c;
  color: #ffffff;
}
.tab-group .active a {
  background: #00304c;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #00304c;
  font-weight: 300;
  margin: 0 0 25px;
  font-size: 20px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 14px;
  color: #00304c;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 15px;
}
label .req {
  margin: 2px;
  color: #00304c;
}

label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(30px);
  left: 2px;
  font-size: 12px;
}
label.active .req {
  opacity: 0;
}
input, textarea {
  font-size: 15px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #00304c;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #00304c;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}
.field-wrap {
  position: relative;
  margin-bottom: 25px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}
.button {
  border-radius: 0;
  border: 1px solid #00304c;
  padding: 13px 0;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #00304c;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #ededf8;
  color: #00304c;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
  margin-bottom: 10px;
}
.modal {
    display: none;
    position: fixed;
    text-align: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 10% auto 15% auto;
    border: 1px solid #888;
    width: 500px;
}
.container_modal {
    padding: 35px 16px 10px 16px;
    position: relative;
}
.modal_button {
    background-color: #042836;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    width: 100%;
}
.modal_button:hover {
    opacity: 0.8;
}
.container_modal p{
    color: #042836;
    font-size: 15px;
    margin-bottom: 10px;
}
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #042836;
    font-size: 25px;
    cursor: pointer;
}
.close:hover{
    color: red;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
.get_new_pass {
    width: 70%;
    margin: auto;
}
.mail {
    padding: 6px 7px;
}
.container_modal_rights {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    color: #042836;
    background-color:#f1f1f1;
    font-size: 10px;
}
.container_modal_rights a{
    color: #042836;
}